*.a
*.app
*.asm
*.cache
*.cmd
*.d
*.dSYM
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.img
*.key
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.mod
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.pyc
*.slo
*.smod
*.so
*.so.*
*.su
*.swn
*.swo
*.swp
*.sym
*.tab.c
*.tab.h
*.x86_64
*_OUTPUT
*~
.DS_Store
.gdb_history
.gdbinit
.idea/
.tmp_versions/
1
Mkfile.old
Module.symvers
_*
__pycache__
__pycache__/
bin/
bind_*.go
bootblock
build/
chat
dec
dkms.conf
du
encryption
entryother
env
fileDecrypted
fileEncrypted
fileEncrypted.meta
initcode
initcode.out
kernel
kernelmemfs
life
main
massexe
mkfs
modules.order
numbers/
nyu_csuy-3943-project1
nyu_csuy-4613
obj/
out
parsetab.py
shell
test
vectors.S
vendor/
vendor_astilectron_bundler/
windows.syso
