*.a
*.app
*.asm
*.cache
*.d
*.dSYM
*.dll
*.dylib
*.exe
*.gch
*.img
*.key
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.pyc
*.slo
*.smod
*.so
*.swn
*.swo
*.swp
*.sym
*~
.gdbinit
_*
__pycache__/
bin/
bootblock
dec
encryption
entryother
fileDecrypted
fileEncrypted
fileEncrypted.meta
initcode
initcode.out
kernel
kernelmemfs
main
mkfs
numbers/
obj/
out
test
vectors.S
