html
	head
		link(rel="stylesheet", href="static/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="static/main.css")
	body.fullbleed#user
		div.container-fluid
			div.row
				div.col-md-12.horizontal.layout.center-center
					div.inside-container.vertical.layout.center-center
						div
							h1 Admin
							p Welcome!
		script(src="static/bower_components/jquery/dist/jquery.min.js")
		script(src="static/main.js")
